@model IEnumerable<Article>

<header id='showcase'>
    <div class="container">
        <div class="showcase-container">
            <div class="showcase-content">
                <h1>Новости</h1>
                <p>Все самые свежие мировые новости только здесь, на веб-сайте NewsArs!</p>
                <a asp-action="About" class="btn btn-primary">О нас</a>
            </div>
        </div>
    </div>
</header>

<section id="home-articles" class="py-2">
    <div class="container">
        <h2>Новости недели</h2>
        @if (Model.Count() > 0)
        {
            <div class="articles-container">
                @foreach (var item in Model)
                {
                    <article class="card">
                        <img src="@WC.ImagePath@item.Image" alt="photo">
                        <div>
                            <div class="category category-ent">
                                @item.Category.Name
                            </div>
                            <h3>
                                <a asp-controller="Article" asp-action="Article" asp-route-Id="@item.Id">@item.Title</a>
                            </h3>
                            <p>@item.PreviewText</p>
                        </div>
                    </article>
                }
                @*@for (int i = 1; i < Model.Count(); i++)
                {
                    var item = Model.Skip(i).First();
                    if (i % 3 == 0)
                    {
                        <article class="card bg-dark">
                            <div class="category category-ent">
                                @item.Category.Name
                            </div>
                            <h3>
                                <a asp-controller="Article" asp-action="Article" asp-route-Id="@item.Id">@Model.Skip(i).First().Title</a>
                            </h3>
                            <p>@item.PreviewText</p>
                        </article>
                    }
                    else if (i % 2 == 0)
                    {
                        <article class="card bg-primary">
                            <div class="category category-ent">
                                @item.Title
                            </div>
                            <h3>
                                <a asp-controller="Article" asp-action="Article" asp-route-Id="@item.Id">@item.Category.Name</a>
                            </h3>
                            <p>@item.PreviewText</p>
                        </article>
                    }
                    else
                    {
                        <article class="card">
                            <img src="@WC.ImagePath@item.Image" alt="photo">
                            <div>
                                <div class="category category-ent">
                                    @item.Category.Name
                                </div>
                                <h3>
                                    <a asp-controller="Article" asp-action="Article" asp-route-Id="@item.Id">@item.Title</a>
                                </h3>
                                <p>@item.PreviewText</p>
                            </div>
                        </article>
                    }
                }*@
            </div>
        }
        else
        {
            <p>Увы, мы пока ещё не написали статьи :(</p>
        }
    </div>
</section>