@model IEnumerable<Article>

<div class="container">
    <h2 class="text-center">Список всех новостей</h2>
    <table class="table">
        <tr>
            <th>Заголовок</a></th>
            <th><a asp-route-sortOrder="Author">Автор</a></th>
            <th><a asp-route-sortOrder="Date">Дата</a></th>
            <th><a asp-route-sortOrder="Category">Категория</a></th>
            <th>Действия</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Author.FullName</td>
                <td>@item.CreationDate</td>
                <td>@item.Category.Name</td>
                <td>
                    <ul>
                        <li><a asp-controller="Article" asp-action="Delete" asp-route-Id="@item.Id">Удалить</a></li>
                    </ul>
                </td>
            </tr>
        }
    </table>
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item"><a class="page-link" asp-route-page="@(ViewBag.CurrentPage-1)">Предыдущая</a></li>
        }        
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            <li class="page-item"><a class="page-link" asp-route-page="@i">@i</a></li>
        }
        @if (ViewBag.CurrentPage < ViewBag.Pages)
        {
            <li class="page-item"><a class="page-link" asp-route-page="@(ViewBag.CurrentPage+1)">Следующая</a></li>
        }
    </ul>
</div>